<div id="projects" class="projects-container">
  <div class="project-row">
    <div class="project-illustration">
      <img src="assets/profile-bg.png" class="illustration-img" alt="Project Illustration">
    </div>
    <div class="project-details">
      <mat-card class="project-card">
        <mat-card-title class="project-title">Project Title</mat-card-title>
        <mat-card-subtitle class="project-brief">Project brief</mat-card-subtitle>
        <mat-card-content class="project-content">
          selector is used to display Material icons in Angular.We have around 900+ Angular Material icons.To show the below list icons,We need to load material icons css provided by Google
          is part of angular material module called MatIconModule.We can use font ligature as an icon by putting the ligature text in component.
          For example <mat-icon>home</mat-icon> displays home icon.
          We have to import MatIconModule from Angular Material Modules.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="project-row-reverse">
    <div class="project-illustration">
      <img src="assets/profile-bg.png" class="illustration-img" alt="Project Illustration">
    </div>
    <div class="project-details">
      <mat-card class="project-card">
        <mat-card-title class="project-title">Project Title</mat-card-title>
        <mat-card-subtitle class="project-brief">Project brief</mat-card-subtitle>
        <mat-card-content class="project-content">
          selector is used to display Material icons in Angular.We have around 900+ Angular Material icons.To show the below list icons,We need to load material icons css provided by Google
          is part of angular material module called MatIconModule.We can use font ligature as an icon by putting the ligature text in component.
          For example <mat-icon>home</mat-icon> displays home icon.
          We have to import MatIconModule from Angular Material Modules.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="project-row">
    <div class="project-illustration">
      <img src="assets/profile-bg.png" class="illustration-img" alt="Project Illustration">
    </div>
    <div class="project-details">
      <mat-card class="project-card">
        <mat-card-title class="project-title">Project Title</mat-card-title>
        <mat-card-subtitle class="project-brief">Project brief</mat-card-subtitle>
        <mat-card-content class="project-content">
          selector is used to display Material icons in Angular.We have around 900+ Angular Material icons.To show the below list icons,We need to load material icons css provided by Google
          is part of angular material module called MatIconModule.We can use font ligature as an icon by putting the ligature text in component.
          For example <mat-icon>home</mat-icon> displays home icon.
          We have to import MatIconModule from Angular Material Modules.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
