markdown > p, ul > li, i, em, strong, a, b {
  font-family: 'Merriweather', serif;
  font-size: 1.15rem;
  letter-spacing: 0.75px;
  line-height: 2rem;
}

blockquote {
  background: rgba($primary,.14);
  border-left: 0.5rem solid $primary;
  border-radius: 0.5rem;
  color: $secondary-dark;
  margin: 1.25rem 0;
  padding: 1rem 1.25rem;
}

markdown > p, ul:first-of-type {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

markdown > h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}
