<mat-toolbar class="mat-primary main-toolbar">
  <mat-toolbar-row>
    <img src="assets/pvp-logo-light-square.png" alt="logo" class="logo-style">
    <span class="profile-name">PARESH V PATIL</span>
    <span class="toolbar-spacer"></span>
    <button routerLink="" #homeButton mat-button class="mat-accent toolbar-button" routerLinkActive="toolbar-button-active" [routerLinkActiveOptions]="{exact: true}">HOME</button>
    <button routerLink="about" mat-button class="mat-accent toolbar-button" routerLinkActive="toolbar-button-active" [routerLinkActiveOptions]="{exact: true}">ABOUT ME</button>
    <button routerLink="blogs" mat-button class="mat-accent toolbar-button" routerLinkActive="toolbar-button-active" [routerLinkActiveOptions]="{exact: true}">BLOGS</button>
    <button routerLink="resume" mat-button class="mat-accent toolbar-button" routerLinkActive="toolbar-button-active" [routerLinkActiveOptions]="{exact: true}">RESUME</button>
    <button routerLink="contact" mat-button class="mat-accent toolbar-button" routerLinkActive="toolbar-button-active" [routerLinkActiveOptions]="{exact: true}">GET IN TOUCH</button>
  </mat-toolbar-row>
</mat-toolbar>
