.resume-container {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  padding-bottom: 2rem;
}

.resume-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.resume-section-title {
  font-family: 'Crimson Pro', serif;
  font-size: 3rem;
  color: #3b3b3b;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.resume-subsection-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.resume-subsection-subtitle {
  font-family: 'Crimson Text', serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.5em auto;
  text-align: center;
  color: grey;
}

.resume-basic-info {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.resume-pic {
  width: 30%;
  margin-right: 3rem;
}

.img-resume-pic {
  width: 100%;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid lightgrey;
}

//noinspection CssInvalidPropertyValue
.resume-basic-info-content {
  display: flex;
  flex-flow: column;
  width: -webkit-fill-available;
  width: -moz-available;
  justify-content: center;
}

.resume-title {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Crimson Pro', serif;
  line-height: 1;
  color: #3b3b3b;
  width: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.resume-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: grey;
  width: 100%;
}

.resume-skills {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.resume-skills-content {
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.resume-skill-list {
  width: 100%;
  padding: 0;
}

.resume-skill-list-entry {
  height: auto !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.resume-skill-key {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #3b3b3b;
  margin-right: 10px;
  margin-bottom: auto;
  width: 40%;
}

.resume-skill-value {
  font-family: 'Crimson Pro', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  max-width: calc(60% - 10px);
  height: auto;
}

.skill-awesome {
  color: #4c1397;
}

.skill-good {
  color: #008a00;
}
.skill-ok {
  color: #b88c5c;
}

.resume-technologies {
  display: flex;
  width: 30%;
  justify-content: center;
}

.img-resume-technologies {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.resume-projects {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.resume-projects-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}

.resume-project {
  display: flex;
  flex-flow: column;
  max-width: 46%;
  text-align: center;
}

.project-title {
  font-size: 1.5em;
  line-height: 1.4;
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  color: #3b3b3b;
}

.project-desc {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.contact-details {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.contact-details-print {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.contact-point {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  justify-content: center;
  margin: 1em 2em;
}

.contact-point-print {
  height: 42px;
  border-radius: 50%;
  margin: 1em auto;
  display: flex;
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  width: 50%;
}

.contact-point-location {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3b3b3b;
  vertical-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5em;
}

.contact-icon {
  font-size: 42px;
  height: 42px;
  width: 42px;
  color: #4c1397;
}

.contact-icon:hover {
  cursor: pointer;
}

.color-github {
  color: #24292e;
}

.color-linkedin {
  color: #0077b5;
}

.color-twitter {
  color: #38b8ff;
}

.color-gmail {
  color: #c1463b;
}

.color-whatsapp {
  color: #0cc243;
}

.download-button-holder {
  position: fixed;
  top: calc(2em + 54px);
  right: 2em;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.download-button {
  height: 48px;
  width: 48px;
  font-size: 48px;
  color: #008a00;
}

.download-button:hover {
  cursor: pointer;
}